<div class="publications">
  <div class="row">
      <div class="col col-sm-4 abbr">
        <img src="/assets/labook.png" style="width: 100%;"/>
      </div>
      <div class="col col-sm-4 abbr">
        <img src="/assets/advanced.png" style="width: 100%;"/>
      </div>
      <div class="col col-sm-4 abbr">
        <img src="/assets/pastprsent.png" style="width: 100%;"/>
      </div>
  </div>
</div>
