<div class="publications">
  <div class="row">
      <div class="col-12 col-sm-4 abbr text-center">
        <a href="https://lamethods.org" target="_blank">
          <img src="/assets/img/labook.jpeg" style="width: 85%;"/>
        </a>
      </div>
      <div class="col-12 col-sm-4 abbr text-center">
         <a href="https://lamethods.org" target="_blank">
          <img src="/assets/img/advanced.png" style="width: 85%;"/>
         </a>
      </div>
      <div class="col-12 col-sm-4 abbr text-center">
         <a href="https://doi.org/10.1007/978-3-031-25336-2" target="_blank">
          <img src="/assets/img/pastprsent.png" style="width: 82.5%;"/>
         </a>
      </div>
  </div>
</div>
